<tr *ngFor="let property of properties; let i = index">
  <td>{{property.propertyKey}}</td>
  <td [ngSwitch]="property.propertyType">

    <ng-container *ngSwitchCase="'Boolean'">
      <ng-container
        *ngTemplateOutlet="BooleanCheckboxTemplate">
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'Number'">
      <ng-container
        *ngTemplateOutlet="NumberInputTemplate">
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'String'">
      <ng-container
        *ngTemplateOutlet="StringTemplate">
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'Object'">
      <ng-container
        *ngTemplateOutlet="ObjectTemplate">
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <ng-container
        *ngTemplateOutlet="DefaultTemplate">
      </ng-container>
    </ng-container>
  </td>
</tr>


<ng-template #BooleanCheckboxTemplate>
  <input type="checkbox">
</ng-template>

<!--<ng-template #NumberInputTemplate let-property>-->
  <!--<input type="number" [(ngModel)]="property.value">-->
<!--</ng-template>-->

<ng-template #StringTemplate>
  <span style="color:green">string</span>
</ng-template>

<ng-template #ObjectTemplate>
  <span style="color: yellow">object</span>
</ng-template>

<ng-template #DefaultTemplate>
  <span>default</span>
</ng-template>




