<tr *ngFor="let property of properties">
  <td width="70%">{{property.propertyKey}}</td>
  <td width="3n0%" [ngSwitch]="property.propertyType">

    <ng-container *ngSwitchCase="'Boolean'">
      <ng-container
        *ngTemplateOutlet="BooleanCheckboxTemplate; context: {$implicit: property}">
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'Number'">
      <ng-container
        *ngTemplateOutlet="NumberInputTemplate; context: {$implicit: property}">
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'String'">
      <ng-container
        *ngTemplateOutlet="StringTemplate; context: {$implicit: property}">
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'Object'">
      <ng-container
        *ngTemplateOutlet="ObjectTemplate; context: {$implicit: property}">
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'Array'">
      <ng-container
        *ngTemplateOutlet="ArrayTemplate; context: {$implicit: property}">
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <ng-container
        *ngTemplateOutlet="DefaultTemplate">
      </ng-container>
    </ng-container>
  </td>
</tr>

<ng-template #BooleanCheckboxTemplate let-property>
  <mat-checkbox [(ngModel)]="property.value">
  </mat-checkbox>
</ng-template>

<ng-template #NumberInputTemplate let-property>
  <form>
  <mat-form-field>
    <input matInput type="number" [(ngModel)]="property.value" name="number">
  </mat-form-field>
</form>
</ng-template>

<ng-template #StringTemplate let-property>
  <form>
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="property.value" name="text">
    </mat-form-field>
  </form>
</ng-template>

<ng-template #ArrayTemplate let-property>
  <mat-chip-list *ngFor="let item of property.value">
    <mat-chip color="accent" selected="true">{{item}}</mat-chip>
  </mat-chip-list>
</ng-template>

<ng-template #ObjectTemplate let-property>
  <ul class="propertyList" *ngFor="let item of property.value">
    <li class="mat-list">{{item}}</li>
  </ul>
</ng-template>

<ng-template #DefaultTemplate>
  <span>default</span>
</ng-template>
