<mat-selection-list>
  <mat-list-option>
    <div class="dialog-list-input">
      <div class="dialog-list-input-text">
        {{key}} {{modified}}
      </div>
      <button mat-icon-button class="dialog-list-input-button" [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>start</mat-icon>
          Default
        </button>
        <button mat-menu-item>
          <mat-icon>mode_edit</mat-icon>
          Edit
        </button>
        <button mat-menu-item>
          <mat-icon>close</mat-icon>
          Remove
        </button>
      </mat-menu>
    </div>
  </mat-list-option>
</mat-selection-list>
