<div class="main">

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="false">
      <div class="side-nav">
        <div class="scrolling-content">
          <sb-model-list></sb-model-list>
        </div>
      </div>
    </mat-sidenav>

    <mat-drawer-container>
      <div class="main-content">
        <mat-toolbar class="toolbar">
          <button mat-button #navButton (click)="sidenav.toggle()" class="nav-button">
            <mat-icon class="nav-icon">menu</mat-icon>
          </button>
          <span class="nav-label">
        <a href="./#!/home">QGRID2</a>
      </span>
        </mat-toolbar>

        <div class="page-details">
          <mat-card class="page-details-example" style="height: 86vh">
            <grid></grid>
          </mat-card>
        </div>
      </div>
    </mat-drawer-container>
  </mat-sidenav-container>

</div>



