<div>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="false" class="side-nav">
      <div class="side-nav-box">
        <div class="side-nav-box-content">
          <sb-model-list></sb-model-list>
        </div>
      </div>
    </mat-sidenav>

      <div class="backdrop">
        <mat-toolbar class="toolbar">
          <button mat-button #navButton (click)="sidenav.toggle()" class="toolbar-button">
            <mat-icon class="toolbar-button-icon">menu</mat-icon>
          </button>
          <span class="toolbar-label">
        <a href="./#!/home">QGRID2</a>
      </span>
        </mat-toolbar>

        <div class="q-grid-section">
          <mat-card class="q-grid-section-box">
            <grid></grid>
          </mat-card>
        </div>
      </div>
  </mat-sidenav-container>

</div>



