@import url(~@angular/material/prebuilt-themes/indigo-pink.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%;
  overflow: hidden !important; }

body {
  height: 100%; }

.mat-card {
  height: 100%; }

a, a:visited {
  color: rgba(250, 250, 250, 0.87);
  text-decoration: none; }

.side-nav {
  overflow-y: hidden !important; }
  .side-nav-head {
    background-color: #2F80ED;
    height: 5vh;
    flex: 28; }
    .side-nav-head-button {
      top: 7px;
      left: 8vh; }
      .side-nav-head-button-icon {
        color: #fafafa; }
  .side-nav-patch {
    flex: 1;
    background-color: #ddd; }
  .side-nav-body {
    overflow-x: hidden; }
    .side-nav-body::-webkit-scrollbar {
      width: 8px;
      background-color: #ddd; }
    .side-nav-body::-webkit-scrollbar-track {
      background-color: #ddd; }
    .side-nav-body::-webkit-scrollbar-thumb {
      background-color: #C8C8C8; }
    .side-nav-body-box {
      width: 21vh;
      height: 100vh; }
      .side-nav-body-box-content {
        background-color: #2F80ED; }

.toolbar {
  background-color: #2F80ED;
  height: 20%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }
  .toolbar-button {
    background-color: #2F80ED;
    border-radius: 20px; }
    .toolbar-button-icon {
      color: rgba(255, 255, 255, 0.87); }
  .toolbar-label {
    color: rgba(255, 255, 255, 0.87);
    margin-left: 20px; }

.dialog {
  align-items: center; }
  .dialog-persistence {
    display: flex !important;
    width: 35vh; }
    .dialog-persistence-title {
      margin-right: 5px;
      flex: 5;
      text-align: center; }
      .dialog-persistence-title-mat-form {
        width: 26vh; }
    .dialog-persistence-button {
      top: 12px;
      flex: 1; }
  .dialog-list {
    position: relative;
    width: 35vh; }

.q-grid-section {
  height: 100vh;
  padding: 10px; }
  .q-grid-section-box {
    background-color: white; }

.mat-drawer-transition .mat-drawer-backdrop {
  background-color: rgba(0, 0, 0, 0.7); }

.mat-expansion-indicator::after, .mat-expansion-panel-header-description {
  color: rgba(250, 250, 250, 0.87); }

.mat-chip {
  font-size: 9px; }

.mat-button {
  min-width: 0 !important; }

.mat-chip:not(.mat-basic-chip) {
  border-radius: 0px; }

.mat-dialog-container {
  position: absolute;
  width: 40vh !important;
  height: 40vh !important;
  top: 50%;
  left: 50%;
  margin: -234px 0 0 -196px; }

.dialog-list .mat-pseudo-checkbox {
  display: none; }

.mat-menu-panel {
  width: 19vh !important; }

.property-list-table .mat-input-wrapper {
  width: 8vh; }

.flex-row {
  display: flex !important;
  flex-direction: row; }

.flex-column {
  display: flex !important;
  flex-direction: column; }
