$color-white: #fafafa;
$color-blue: #2F80ED;
$color-darkblue: #2a73d5;
$color-lightgrey: #ddd;
$color-darkgrey: #C8C8C8;
$color-black: #000;

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden !important;
}

body {
  height: 100%;
}

.mat-card {
  height: 100%;
}

a, a:visited {
  color: rgba($color-white, 0.87);
  text-decoration: none;
}

//Left Navbar
.side-nav {

  overflow-y: hidden !important;

  &-head {
    background-color: $color-blue;
    height: 5vh;
    flex: 28;

    &-button {
      top: 7px;
      left: 8vh;
      //margin-left: 1.4vh !important;

      &-icon {
        color: $color-white;
      }
    }
  }

  &-patch {
    flex: 1;
    background-color: $color-lightgrey;
  }

  &-body {
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 8px;
      background-color: $color-lightgrey;
    }

    &::-webkit-scrollbar-track {
      background-color: $color-lightgrey;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-darkgrey;
    }

    &-box {
      width: 21vh;
      height: 100vh;

      &-content {
        background-color: $color-blue;
      }
    }

  }
}



//Top Toolbar

.toolbar {
  background-color: $color-blue;
  height: 20%;
  box-shadow:0 2px 4px rgba($color-black,.3);

  &-button {
    background-color: $color-blue;
    border-radius: 20px;

    &-icon {
      color: rgba(255, 255, 255, 0.87);
    }

  }

  &-label {
    color: rgba(255, 255, 255, 0.87);
    margin-left: 20px;
  }

}

// Dialog modal window

.dialog {
  align-items: center;

  &-persistence {
    display: flex !important;
    width: 35vh;

    &-title {
      margin-right: 5px;
      flex: 5;
      text-align: center;

      &-mat-form {
        width: 26vh;
      }
    }

    &-button {
      top: 12px;
      flex: 1;
    }
  }

  &-list {
    position: relative;
    width: 35vh;
  }
}



//q-Grid section

.q-grid-section {
  height: 100vh;
  padding: 10px;

  &-box {
    background-color: white;
  }
}

//Backdrop
.mat-drawer-transition .mat-drawer-backdrop {
    background-color: rgba($color-black, .7);
}

//Material overrides

.mat-expansion-indicator::after, .mat-expansion-panel-header-description {
  color: rgba($color-white, 0.87);
}

.mat-chip {
  font-size: 9px;
}

.mat-button {
  min-width: 0 !important;
}

.mat-chip:not(.mat-basic-chip) {
  border-radius: 0px;
}

.mat-dialog-container {
  position: absolute;
  width: 40vh !important;
  height: 40vh !important;
  top:50%;
  left:50%;
  margin: -234px 0 0 -196px;
}

.dialog-list .mat-pseudo-checkbox {
  display: none;
}

.mat-menu-panel {
  width: 19vh !important;
}

//Helpers

.flex-row {
  display: flex !important;
  flex-direction: row;
}

.flex-column {
  display: flex !important;
  flex-direction: column;
}
















